html, body, nav, 	div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:Artial, Verdana, sans-serif;
}

body {
	background: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: linear-gradient(top, #eeeeee, #cccccc 100%);
	background-attachment:fixed;
}

ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size:2.91em;
	margin:0;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:2em 0 1em 0;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}

#progress {
	height:2%;
	background:#444;
	bottom:0;
	z-index:200;
}

#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

.bg {
	top:0;
	left:0;
	width:1366;
	height:768;
	background-size: 1366px 768px;
}

#bg1 {
	z-index:50;
	background-image:url("../img/bg1.png");
}

#bg2 {
	z-index:49;
	background-image:url("../img/bg2.png");
}

#bg3 {
	z-index:48;
	background-image:url("../img/bg3.png");
}

#bg4 {
	z-index:47;
	background-image:url("../img/bg4.png");
}

#bg5 {
	z-index:46;
	background-image:url("../img/bg5.png");
}

#bg6 {
	z-index:45;
	background-image:url("../img/bg6.png");
}

#bg7 {
	z-index:44;
	background-image:url("../img/bg7.png");
}

#intro {
	width:80%;
	left:50%;
	top:1em;
	margin-left:-40%;
	padding:2em;
	background:#fff;
	text-align:center;
	border-radius:1em;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#intro .arrows {
	font-size:2em;
	color:#09f;
}

#transform {
	width:70%;
	left:50%;
	top:20%;
	margin-left:-35%;
	text-align:center;
	font-size:150%;

	.transform-origin(50%, 50%);
}

#properties {
	width:100%;
	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	background:#09f;
	font-weight:bold;
	padding:1em;
}

#download {
	width:80%;
	left:10%;
	height:80%;
	padding:3em;
	border:0 solid #222;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.twitter-share-button, .twitter-follow-button {
	vertical-align:middle;
}

#wrapper {
	position: relative;
}
/* Nav
*****************************************************************/

nav#primary {
	z-index: 555;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;
}
nav#primary li {
	position: relative;
	height: 20px;
}
nav#primary a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: transparent url('../img/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
	background: transparent url('../img/nav-dot.png') 4px -16px no-repeat;
}
nav#primary h1 {
	position: absolute;
	right: 22px;
	top: -7px;
	display: none;
	padding: 4px 20px 4px 7px;;
	color: #fff;
	white-space: nowrap;
	background: transparent url('../img/nav-arrow.png') 100% 50% no-repeat;
}
nav.next-prev {
	margin: 20px 0 0 0;
}
a.prev,
a.next {
	display: block;
	width: 15px;
	height: 11px;
	text-indent: -9999px;
}
a.prev {
	margin: 0 auto 5px auto;
	background: transparent url('../img/scroll-arrow-up.png') 0 0 no-repeat;
}
a.prev:hover {
	background: transparent url('../img/scroll-arrow-up.png') 0 -11px no-repeat;
}
a.next {
	margin: 5px auto 0 auto;
	background: transparent url('../img/scroll-arrow-down.png') -1px 0 no-repeat;
}
a.next:hover {
	background: transparent url('../img/scroll-arrow-down.png') -1px -11px no-repeat;
}

/* content */
#content {
	z-index: 100;
	position: relative;
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
}
#content article {
	width: 300px;
}
#welcome,
#work,
#story,
#gallery,
#about,
#contact,
#bye {
	/*padding-top: 105px;*/
}
#welcome {
	position: absolute;
	top: 0px;
}
#work {
	position: absolute;
	top: 1366px;
}
#story {
	position: absolute;
	top: 2732px;
}
#gallery {
	position: absolute;
	top: 4098px;
}
#about {
	position: absolute;
	top: 5464px;
}
#contact {
	position: absolute;
	top: 6830px;
}
#bye {
	position: absolute;
	top: 8196px;
}
#content h1 {
	margin: 0 0 25px 0;
	font-size: 60px;
	font-family: Georgia, serif;
	font-weight: normal;
	line-height: 65px;
}
